<template>
  <q-page class="row tw-p-5 xl:tw-p-8 justify-evenly">
    <TimelineComponent :eventList="educationList"></TimelineComponent>
  </q-page>
</template>

<script setup lang="ts">
import TimelineComponent from 'src/components/TimelineComponent.vue';
import { educationList } from 'src/constants/educationItems';
</script>
