<template>
  <q-page class="row tw-p-5 xl:tw-p-8 justify-evenly">
    <IntroductionSection></IntroductionSection>
  </q-page>
</template>

<script setup lang="ts">
import IntroductionSection from 'src/components/IntroductionSection.vue';
</script>
