<template>
  <q-page class="row tw-p-5 xl:tw-p-8 tw-w-full tw-flex tw-flex-cols tw-gap-16">
    <ProjectList :project-list="websiteProjectItems"></ProjectList>
    <ProjectList :project-list="gameProjectItems"></ProjectList>
    <ProjectList :project-list="miscProjectItems"></ProjectList>
  </q-page>
</template>

<script setup lang="ts">
import ProjectList from 'src/components/ProjectList.vue';
import {
  websiteProjectItems,
  gameProjectItems,
  miscProjectItems,
} from 'src/constants/projectItems';
</script>
