<template>
  <div
    v-if="cardInfos"
    class="tw-w-full tw-flex tw-flex-col xl:tw-flex-row tw-gap-5"
    style="height: fit-content"
  >
    <div
      v-for="(cardInfo, index) in cardInfos"
      :key="index"
      class="tw-w-full xl:tw-w-1/3 tw-h-full"
    >
      <div class="tw-flex tw-flex-col tw-gap-5 tw-bg-gray-800 tw-p-5 xl:tw-p-8">
        <div class="tw-text-2xl tw-font-bold">{{ cardInfo.title }}</div>
        <div class="tw-text-gray-300 tw-text-justify">{{ cardInfo.text }}</div>
        <router-link to="#">Show more</router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { CardInfo } from 'src/models/models';

defineProps<{
  cardInfos: CardInfo[];
}>();
</script>
