<template>
  <a
    :href="contactItem.href"
    target="_blank"
    class="tw-flex tw-gap-5 tw-items-center"
  >
    <q-icon :name="contactItem.icon"></q-icon>
    <div>{{ contactItem.value }}</div>
  </a>
</template>

<script setup lang="ts">
import { ContactItem } from 'src/models/models';

defineProps<{
  contactItem: ContactItem;
}>();
</script>
