<template>
  <div
    class="tw-flex tw-flex-col tw-gap-5 tw-text-center"
    style="max-width: 500px"
  >
    <div class="tw-mb-3">
      <q-img
        class="tw-rounded-full"
        src="/image.jpeg"
        :width="$q.platform.is.mobile ? '100px' : '150px'"
      ></q-img>
    </div>
    <div class="tw-text-xl">Jasmin Makaj</div>
    <div class="tw-text-gray-400">
      Frontend Developer<br />
      <span class="frameworkVue">Vue.js</span> |
      <span class="frameworkQuasar">Quasar</span> |
      <span class="frameworkAngular">Angular</span>
    </div>
    <div class="tw-flex tw-flex-col tw-gap-3 tw-py-3">
      <div class="tw-text-lg tw-text-left">{{ $t('intro.title') }}</div>
      <div class="tw-text-gray-400 tw-text-justify">
        {{ $t('intro.text') }}
      </div>
    </div>

    <div>
      <div class="tw-text-lg tw-text-left">{{ $t('languages.title') }}</div>
      <div class="tw-flex tw-gap-3">
        <LanguageItem
          v-for="(lang, index) in languageListRef"
          :key="index"
          :language="lang"
        ></LanguageItem>
      </div>
    </div>

    <div>
      <div class="tw-text-lg tw-text-left">{{ $t('contact.title') }}</div>
      <div class="tw-flex tw-flex-col tw-gap-3 tw-py-3">
        <ContactItem
          v-for="(contactItem, index) in contactItemsRef"
          :key="index"
          :contactItem="contactItem"
        ></ContactItem>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import LanguageItem from 'src/components/LanguageItem.vue';
import ContactItem from 'src/components/ContactItem.vue';
import { ref } from 'vue';
import { languageList } from 'src/constants/languages';
import { contactItems } from 'src/constants/contactItems';

let languageListRef = ref(languageList);
let contactItemsRef = ref(contactItems);
</script>
