<template>
  <div v-if="language" class="tw-flex tw-flex-col tw-gap-1 tw-w-1/3">
    <VueApexCharts
      v-if="visible"
      :options="radialBarStyle"
      :series="[language.percentage]"
      :key="language.name"
    ></VueApexCharts>
    <div class="tw-font-bold">{{ $i18n.t(language.languageName) }}</div>
    <div class="tw-text-gray-500">{{ language.level }}</div>
  </div>
</template>

<script setup lang="ts">
import { nextTick, onBeforeMount, ref } from 'vue';
import VueApexCharts from 'vue3-apexcharts';
import { radialBarStyle } from '../chart styles/radialbar';
import { useI18n } from 'vue-i18n';
const $i18n = useI18n();
let visible = ref(false);

let style = radialBarStyle;

const props = defineProps({
  language: Object,
});

onBeforeMount(() => {
  style.labels = [$i18n.t(props.language?.languageName)];
  nextTick(() => {
    window.dispatchEvent(new Event('resize'));
    visible.value = true;
  });
});
</script>
