<template>
  <div v-if="navItem && (isDrawer ? true : isDrawer == navItem.onlyDrawer)">
    <q-separator v-if="navItem && navItem.separatorBefore"></q-separator>
    <div v-if="navItem" class="row flex tw-items-center tw-h-full iw-hoverable">
      <q-item
        class="tw-px-5 tw-h-full tw-w-full tw-items-center iw-no-hover-child iw-current-color"
        :class="navItem.class"
        clickable
        :to="
          navItem.routerLink && {
            name: navItem.routerLink,
            params: { lang: $route.params.lang },
          }
        "
        @mouseenter="mouseIsOverButton()"
        @mouseleave="mouseHasLeftButton()"
        @click="navItem && navItem.click && navItem.click(emit, navItem)"
      >
        <q-icon :name="iconItem()" class="tw-pl-3" size="1.2em" />
        <div class="tw-p-3 tw-w-full">
          {{ $t(navItem.title) }}
        </div>
        <q-icon
          v-if="hasChildren()"
          name="fas fa-chevron-down"
          class="tw-transition-all tw-duration-300 tw-pr-2"
          :class="[{ 'tw-rotate-180': subMenuOpen }]"
        />
        <q-menu
          v-if="navItem.children"
          v-model="subMenuOpen"
          :ref="`q-menu-item-${navItem.id}`"
          anchor="bottom start"
          @mouseenter="mouseIsOverMenu()"
          @mouseleave="mouseHasLeftMenu()"
        >
          <q-list>
            <NavigationItem
              v-for="mI in navItem.children"
              :key="mI.id"
              :navItem="mI"
              @overChildMenu="setMouseOverChild($event)"
              @setLanguage="emit('setLanguage', $event)"
            />
          </q-list>
        </q-menu>
      </q-item>
    </div>
  </div>
</template>

<script setup lang="ts">
import NavigationItem from 'src/components/NavigationItem.vue';
import { ref } from 'vue';

const props = defineProps({
  navItem: Object,
  isDrawer: Boolean,
});

const emit = defineEmits(['overChildMenu', 'setLanguage']);

let subMenuOpen = ref(false);
let mouseOverMenu = ref(false);
let mouseOverBtn = ref(false);
let mouseOverChild = ref(false);

function hasChildren() {
  return props.navItem?.children;
}

function setMouseOverChild(value: boolean) {
  mouseOverChild.value = value;
  checkIfShouldClose();
}

function mouseIsOverButton() {
  subMenuOpen.value = true;
  mouseOverBtn.value = true;
  emit('overChildMenu', true);
}

function mouseHasLeftButton() {
  mouseOverBtn.value = false;
  emit('overChildMenu', false);
  checkIfShouldClose();
}

function mouseIsOverMenu() {
  subMenuOpen.value = true;
  mouseOverMenu.value = true;
  emit('overChildMenu', true);
}

function mouseHasLeftMenu() {
  mouseOverMenu.value = false;
  emit('overChildMenu', false);
  checkIfShouldClose();
}

function checkIfShouldClose() {
  setTimeout(() => {
    if (!mouseOverMenu.value && !mouseOverBtn.value && !mouseOverChild.value) {
      subMenuOpen.value = false;
    }
  }, 100);
}

function iconItem() {
  return props.navItem?.icon;
}
</script>
