<template>
  <a
    v-if="project"
    class="tw-w-full tw-rounded tw-bg-gray-800 tw-flex tw-flex-col tw-justify-between tw-p-0 tw-rounded-md tw-overflow-hidden projectCard"
    :href="project.liveUrl"
  >
    <div>
      <div>
        <q-img
          fit="cover"
          :src="project.imageSrc"
          :srcset="project.imageSrcSet"
          height="25vh"
        ></q-img>
      </div>
      <div class="tw-flex tw-flex-col tw-gap-5 tw-p-5 tw-text-white">
        <div class="tw-flex tw-justify-between tw-gap-5">
          <div class="tw-text-2xl tw-font-bold">
            {{ $t(project.title) }}
          </div>
          <div class="tw-text-sm tw-text-gray-400 tw-whitespace-pre">
            {{
              project.date.toLocaleDateString($i18n.locale, {
                year: 'numeric',
                month: 'long',
              })
            }}
          </div>
        </div>
        <div class="tw-text-justify">
          {{ $t(project.description) }}
        </div>

        <div class="tw-flex tw-gap-3 tw-flex-col tw-items-center">
          <div class="tw-text-sm tw-text-gray-400">Technologies used:</div>
          <div class="tw-flex tw-gap-3 tw-flex-wrap tw-justify-center">
            <template
              v-for="(tech, index) in project.technologies"
              :key="index"
            >
              <q-img
                v-if="techHasImage[tech].hasImage"
                fit="contain"
                width="25px"
                height="25px"
                :src="`/images/technologies/${tech}.svg`"
              >
                <q-tooltip class="tw-capitalize">
                  {{ tech }}
                </q-tooltip>
              </q-img>
            </template>
          </div>
          <div class="tw-flex tw-gap-3 tw-flex-wrap">
            <template
              v-for="(tech, index) in project.technologies"
              :key="index"
            >
              <div v-if="!techHasImage[tech].hasImage">
                {{ techHasImage[tech].label }}
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>

    <div class="tw-m-auto tw-my-5 tw-flex tw-gap-5">
      <q-btn
        v-if="project.projectUrl"
        no-caps
        text-color="dark"
        color="primary"
        :href="project.projectUrl"
        target="_blank"
      >
        <q-icon name="fab fa-gitlab"></q-icon>
        {{ $t('nav.openWebsite') }}
      </q-btn>
      <q-btn
        v-if="project.videoUrl"
        no-caps
        outline
        text-color="primary"
        color="primary"
        target="_blank"
        @click="
          openDialog = true;
          ytVideo = project.videoUrl || '';
        "
      >
        <q-icon name="fab fa-youtube"></q-icon>
        {{ $t('nav.showVideo') }}
      </q-btn>
    </div>
  </a>

  <q-dialog v-model="openDialog" class="tw-p-0 tw-w-full">
    <div style="max-width: unset; max-height: unset">
      <iframe
        class="tw-m-auto"
        style="height: 80vh; width: 80vw"
        :src="ytVideo"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { Project, techLogos } from 'src/models/models';

let techHasImage = techLogos;
let openDialog = ref(false);
let ytVideo = ref('');

defineProps<{
  project: Project;
}>();
</script>
