<template>
  <div class="tw-flex tw-flex-col tw-gap-5 tw-w-full">
    <div class="tw-text-3xl tw-text-center xl:tw-text-left">
      {{ $t(projectList.projectType) }}
    </div>
    <div
      v-if="
        projectList.projectType == 'website' ||
        projectList.projectType == 'games' ||
        projectList.projectType == 'misc'
      "
      class="tw-grid xl:tw-grid-cols-2 2xl:tw-grid-cols-3 3xl:tw-grid-cols-4 tw-gap-8 tw-flex-wrap"
    >
      <q-intersection
        v-for="(project, index) in projectList.projects"
        :key="index"
        transition="scale"
        style="min-height: 600px"
        transition-duration="75"
        once
      >
        <ProjectDetailsCard :project="project"></ProjectDetailsCard>
      </q-intersection>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ProjectList } from 'src/models/models';
import ProjectDetailsCard from './ProjectDetailsCard.vue';

defineProps<{
  projectList: ProjectList;
}>();
</script>
