<template>
  <q-timeline
    :layout="$q.platform.is.mobile ? 'dense' : 'comfortable'"
    color="primary"
  >
    <TimelineEvent
      v-for="(event, index) in eventList"
      :key="index"
      :timelinePeriod="event"
    ></TimelineEvent>
  </q-timeline>
</template>

<script setup lang="ts">
import { TimelinePeriod } from 'src/models/models';
import TimelineEvent from './TimelineEvent.vue';

defineProps<{
  eventList: TimelinePeriod[];
}>();
</script>
