<template>
  <q-timeline-entry heading>
    {{ $t(timelinePeriod.title) }}
  </q-timeline-entry>

  <q-timeline-entry
    v-for="(event, index) in timelinePeriod.events"
    :key="index"
    :title="$t(event.title)"
    :subtitle="createDate(event)"
  >
    <div
      v-if="event.location"
      class="tw-mb-5 tw-text-gray-400 tw-whitespace-pre-line"
    >
      <q-btn
        v-if="event.locationUrl"
        flat
        dense
        no-caps
        :href="event.locationUrl"
        target="_blank"
        class="tw-px-5 tw-rounded"
        style="width: fit-content"
      >
        <q-icon size="1.2em" name="fas fa-globe"></q-icon>
        <div class="tw-text-left">
          {{ $t(event.location) }}
        </div>
      </q-btn>
      <div v-else class="tw-text-left">
        {{ $t(event.location) }}
      </div>
    </div>

    <div class="tw-flex tw-flex-col tw-gap-5 tw-pl-5">
      <div v-if="event.content" class="tw-whitespace-pre-line tw-text-justify">
        {{ $t(event.content) }}
      </div>

      <div v-if="event.buttons" class="tw-flex tw-gap-5">
        <q-btn
          v-for="(btn, index) in event.buttons"
          :key="index"
          no-caps
          text-color="dark"
          color="primary"
          :href="btn?.title != 'nav.showVideo' ? btn?.routerLink : undefined"
          target="_blank"
          @click="
            () => {
              openDialog = true;
              ytVideo = btn.routerLink ?? '';
            }
          "
        >
          <q-icon :name="btn.icon"></q-icon>
          {{ $t(btn?.title) }}
        </q-btn>
      </div>
    </div>
  </q-timeline-entry>

  <q-dialog v-model="openDialog" class="tw-p-0 tw-w-full">
    <div style="max-width: unset; max-height: unset">
      <iframe
        class="tw-m-auto"
        style="height: 80vh; width: 80vw"
        :src="ytVideo"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </q-dialog>
</template>

<script setup lang="ts">
import { TimelinePeriod, TimelineEvent } from 'src/models/models';
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';

const i18n = useI18n();

let openDialog = ref(false);
let ytVideo = ref('');

defineProps<{
  timelinePeriod: TimelinePeriod;
}>();

function createDate(event: TimelineEvent) {
  if (event.date)
    return `${event.date.toLocaleDateString(i18n.locale.value, {
      year: 'numeric',
      month: 'long',
    })}${
      event.dateUntil
        ? event.dateUntil instanceof Date
          ? ` - ${event.dateUntil?.toLocaleDateString(i18n.locale.value, {
              year: 'numeric',
              month: 'long',
            })} 
          (${calcDate(event.date, event.dateUntil)})`
          : ` - ${i18n.t(event.dateUntil ?? '')} (${calcDate(
              event.date,
              event.dateUntil
            )})`
        : ''
    }`;
}

function calcDate(date1: Date, date2: Date | string) {
  if (typeof date2 == 'string') date2 = new Date();

  const date1_time_stamp = date1.getTime();
  const date2_time_stamp = date2.getTime();

  let calc;

  if (date1_time_stamp > date2_time_stamp) {
    calc = new Date(date1_time_stamp - date2_time_stamp);
  } else {
    calc = new Date(date2_time_stamp - date1_time_stamp);
  }

  const calcFormatTmp =
    calc.getDate() + '-' + (calc.getMonth() + 1) + '-' + calc.getFullYear();

  const calcFormat = calcFormatTmp.split('-');
  const months_passed = Number(Math.abs(Number(calcFormat[1])) - 1);
  const years_passed = Number(Math.abs(Number(calcFormat[2])) - 1970);

  const yrsTxt = ['year', 'years'];
  const mnthsTxt = ['month', 'months'];

  const result =
    (years_passed == 1
      ? years_passed + ' ' + i18n.t(yrsTxt[0]) + ' '
      : years_passed > 1
      ? years_passed + ' ' + i18n.t(yrsTxt[1]) + ' '
      : '') +
    (months_passed == 1
      ? months_passed + ' ' + i18n.t(mnthsTxt[0])
      : months_passed > 1
      ? months_passed + ' ' + i18n.t(mnthsTxt[1]) + ' '
      : '');

  return result.trim();
}
</script>
