::-webkit-scrollbar {
    color: #FFC742 #1a1a30;
    height: 15px;
    width: 15px;
}

:horizontalbody::-webkit-scrollbar {
    height: 15px;
}

:verticalbody::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #1a1a30 !important;
}

*::-webkit-scrollbar-thumb {
    background-color: #FFC742;
    border-radius: 0px;
    border: 0px solid #1a1a30;
}

::-moz-selection {
    color: white;
    background: #171720;
}

::selection {
    color: white;
    background: #171720;
}

body {
    background-color: #1e1f28;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 1em;
    scrollbar-color: #FFC742 #1a1a30 !important;
    scrollbar-width: 15px !important;

    .q-drawer {
        background-color: #24242f;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        transition-duration: 250ms;
        padding: 10px 20px 10px 20px;
        border-radius: 3px;
    }

    a:hover {
        color: #FFC742;
        background-color: #171720;
    }

    .q-layout__section--marginal {
        background-color: transparent;
    }

    .frameworkQuasar {
        color: #1976d2;
    }

    .frameworkVue {
        color: #42b883;
    }

    .frameworkAngular {
        color: #dd1b16;
    }

    .q-toolbar {
        background-color: #1e1f28ea;
        backdrop-filter: blur(2px);

        .menuIcon {
            span {
                i {
                    padding: 0 !important;
                }
            }
        }
    }

    .q-menu {
        background-color: #24242f;
    }

    .mobileNav {
        .q-btn {
            .q-icon {
                padding-bottom: 5px;
            }
        }
    }

    .q-btn {
        .q-icon {
            padding-right: 0.75rem;
        }
    }

    .q-timeline__heading-title {
        text-transform: capitalize;
    }

    .q-timeline__subtitle {
        width: fit-content !important;

        span {
            white-space: nowrap;
        }
    }

    .q-timeline--comfortable--right .q-timeline__content {
        padding-left: 10px;
    }

    .q-timeline__title {
        font-weight: bold;
    }

    .q-timeline__content {
        padding-bottom: 5vh;
    }

    .q-tooltip {
        font-size: 1.1em;
    }

    .projectCard {
        height: 100%;
        transition-duration: 300ms;
    }

    .projectCard:hover {
        box-shadow: 5px 5px 5px rgba(255, 238, 0, 0.05);
        transform: scale(1.01);
    }

    .q-intersection>div {
        height: 100%;
    }
}