<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class="tw-flex tw-gap-3">
        <q-btn
          flat
          dense
          round
          icon="menu"
          @click="toggleLeftDrawer"
          class="menuIcon"
        />

        <div class="tw-hidden xl:tw-flex tw-w-full tw-justify-end">
          <NavigationItem
            v-for="navItem in navItemsList"
            :key="navItem.id"
            :navItem="navItem"
            :isDrawer="false"
            @setLanguage="setLanguage($event)"
          />
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      :show-if-above="$q.platform.is.mobile"
      bordered
      :width="$q.platform.is.mobile ? $q.screen.width : 350"
      :behavior="$q.platform.is.mobile ? 'mobile' : 'desktop'"
    >
      <q-list class="tw-p-8 tw-flex tw-flex-col tw-gap-5 tw-h-screen">
        <q-btn
          flat
          icon="close"
          class="tw-self-end tw-absolute tw-block xl:tw-hidden"
          @click="leftDrawerOpen = false"
        ></q-btn>
        <IntroductionSection class="tw-hidden xl:tw-block" />

        <div
          class="tw-mt-5 tw-flex xl:tw-hidden tw-flex-col tw-w-full tw-block xl:tw-hidden"
        >
          <NavigationItem
            v-for="navItem in navItemsList"
            :key="navItem.id"
            :navItem="navItem"
            :isDrawer="true"
            @setLanguage="setLanguage($event)"
          />
        </div>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import IntroductionSection from 'src/components/IntroductionSection.vue';
import NavigationItem from 'src/components/NavigationItem.vue';
import { navItems } from 'src/constants/navItems';
import { useLocaleStore } from 'stores/store';
import { useI18n } from 'vue-i18n';
import { useRoute, useRouter } from 'vue-router';
import { useQuasar } from 'quasar';

let navItemsList = navItems;
const leftDrawerOpen = ref(false);
const loc = useLocaleStore();
const $router = useRouter();
const $route = useRoute();
const $i18n = useI18n();
const $q = useQuasar();

function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value;
}

function setLanguage(locale: string) {
  if (locale) {
    loc.setLocale(locale);
    const path = $route.fullPath
      .replace(/#.*/, '')
      .replace(`/${$i18n.locale.value}`, `/${locale}`);

    $router.replace({
      path,
      params: { lang: locale },
    });
    $i18n.locale.value = locale ?? 'en';
  }
}

onMounted(() => {
  setLanguage(($route.params.lang as string) ?? loc.getLocale());

  if ($q.platform.is.desktop) leftDrawerOpen.value = true;
});
</script>
